/* line 1, ../../../../src/external/components/jqtags-jq-slider/jqtags.slider.scss */
jq-slider {
  position: relative;
  text-align: left;
  -moz-appearance: range;
  -webkit-appearance: range;
  line-height: 20px;
  display: block;
  position: relative;
  float: none;
  height: 4px;
  margin: 8px;
}
/* line 12, ../../../../src/external/components/jqtags-jq-slider/jqtags.slider.scss */
jq-slider.ui-slider {
  display: block;
  background: grey;
}
/* line 15, ../../../../src/external/components/jqtags-jq-slider/jqtags.slider.scss */
jq-slider.ui-slider .ui-slider-range {
  background: black;
  position: absolute;
  height: 7px;
  top: -4px;
  padding: -1px;
  margin: 1px 10px;
}
/* line 23, ../../../../src/external/components/jqtags-jq-slider/jqtags.slider.scss */
jq-slider.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  height: 21px;
  width: 21px;
  cursor: pointer;
  border-radius: 50%;
  background: black;
  margin: -12px 0 0 0;
}
